@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --primary: 47.9 95.8% 53.1%;
  --primary-foreground: 26 83.3% 1.1%;
  --card: 0 0% 3%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 3%;
  --popover-foreground: 0 0% 100%;
  --border: 0 0% 12%;
  --input: 0 0% 12%;
  --ring: 47.9 95.8% 53.1%;
  --radius: 0.75rem;
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}